.main_box{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 10px;
}

.main_box_genre {
    display:flex;
    flex-direction: column;
}

.info_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    height: 400px;
    background-color: rgb(255, 210, 181);
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px
}

.media_box{
    display: flex;
    flex-direction: row;
}

.media{
    max-width: 560px;
    max-height: 400px;
}

.trailer{
    max-width: 560px;
    max-height: 400px;
    margin-left: 5px;
}

#director a { color: blue; }
