.main_box{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 10px;
    width: 500px;
}

.main_box_genre {
    display:flex;
    flex-direction: column;
}

.info_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(255, 210, 181);
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.media_box{
    display: flex;
    flex-direction: row;
}

.media{
    max-width: 560px;
    max-height: 400px;
}

.trailer{
    max-width: 560px;
    max-height: 400px;
    margin-left: 5px;
}

#director a { color: blue; }

.movies_by_director_box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: var(--color--headbackground);
    text-decoration: underline;
    width: 90ch;
}

.movies_by_director_box p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    font-weight: bold;
    background-color: var(--color--headbackground);
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 10px;
    border: var(--color--borders3) solid 5px;
    align-items: flex-start;
    width: 50%;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
}