:root{
    --color--background: rgb(13, 100, 107);
    --color--headbackground: rgb(255, 210, 181);
    --color--borders: rgb(62, 72, 64);
    --color--borders2: rgb(226, 120, 18);
}

#cuerpo {
    margin:0px;
    background-color: var(--color--background);
}

.encabezado {
    background-color: var(--color--headbackground);
    height: 100px;
    border-bottom: solid 5px var(--color--borders);
}

#main {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.latest_added {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border: solid 5px rgb(62, 72, 64);
    border-radius: 30px;
    background-color: var(--color--background);
    width: 400px;
    height: 250px;   
}

.poster {
    height: 200px;
    border: var(--color--borders2) solid 2px;
}

#side_bar {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--color--borders);
    border: var(--color--borders2) solid 3px;
}

#main_bar {
    display:flex;
    flex-direction: column;
    flex:3;
}

.poster_main { 
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 250px;;
}
